@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../images/pexels-simon-berger-1323550.jpg");
  background-repeat: no-repeat;
}

.heading {
  text-align: center;
  font-size: 50px;
  color: #512d6d;
}

main {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  width: 25%;
  margin: 0 auto;
}
.add-todo {
  display: flex;
}
.add-todo input {
  border: 2px solid #2c394b;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
  font-size: 25px;
}
.add-todo button {
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2c394b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 20%;
}
.todo-list ol {
  margin-top: 20px;
  padding-left: 23px;
}
.todo-list ol li {
  font-size: 22px;
  cursor: pointer;
}
